body{font-family:Arial;background:#46178f;color:white;text-align:center;}
.center{display:flex;flex-direction:column;justify-content:center;height:100vh;}
input,button{padding:15px;margin:10px;font-size:18px;border:none;border-radius:10px;}
button{background:#ff3355;color:white;width:80%;}